@model PinsViewModel


<div class="container">
    <div class="row">
        
        <!-- første kolonne -->

        <partial name="_LeftColumn" model="Model.Pins"/>
        <!--andre kolonne-->
        <partial name="_RightColumn" model="Model.Pins"/>
        
    </div>
</div>



