@model PinsViewModel


<div class="container">
    <div class="row">
        
        <!-- første kolonne -->

        <div class="col-md-6">
            <h3>Find your place</h3>
            <!--inputing google maps-->
            <div id="map"></div>
            <!--temporary picture-->
             <img src="~/images/map.png" alt="Map Image">
                 <p>
             <!--Mekanisme for å lage ny data entry CRUD-->
            <a class="btn btn-secondary"
                asp-controller="Pin"
                asp-action="Create"> Add a pin</a>
        </p>
        </div>

        <!--andre kolonne-->

        <div class="col-md-6">
            <!--lenker til feed og mypins-->
            <div>
                <a id="showFeedWindow" href="#">Feed window</a>
                <a id="showFavWindow" href="#">Favorites window</a>
            </div>
            <!--Feed vindu-->
            <div id="feedwindow" class="contentwindow">
                <h2>Feed</h2>
                <partial name="_PinTable" model="Model.Pins"/>
            </div>
            <!--mypins vindu-->
            <div id="favwindow" class="contentwindow" style="display: none;">
                <h2>My Pins <3 </h2>
                <partial name="_MyPins" model="Model.Pins"/>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>

<script>
    // javascript kode for å kunne bytte mellom vinduer
$(document).ready(function(){
    $("#showFeedWindow").click(function(e){
        e.preventDefault();
        $("#feedwindow").show();
        $("#favwindow").hide();
    });

    $("#showFavWindow").click(function(e){
        e.preventDefault();
        $("#favwindow").show();
        $("#feedwindow").hide();
    });
});

// for å få kart inn i div med map id
function initMap() {
    var mapOptions = {
        zoom: 8,
        center: { lat: -34.397, lng: 150.644 }, 
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);
}
</script>

<!--hente kart med API key fra Google maps-->
<script async 
    src="https://maps.googleapis.com/maps/api/js?key=  YOUR_API_KEY   &callback=initMap">
</script>
