@model Pin
<h2>Update Pin</h2>

<form asp-action="Update">     <!--Forklaring på kode under finnes i create.cshtml-->
    <input type="hidden" asp-for="PinId" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span> 
    </div>

    <div class="form-group">
    <label asp-for="Rating"></label><span>(1-5)</span><span class="text-danger">*</span>
    <input asp-for="Rating" class="form-control"/>
    <span asp-validation-for="Rating" class="text-danger"></span> 
    </div>

    <div class="form-group">
        <label asp-for="Comment"></label>
        <input asp-for="Comment" class="form-control" maxlength="200" />
        <span asp-validation-for="Comment" class="text-danger"></span> 
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control"/>
        <span asp-validation-for="ImageUrl" class="text-danger"></span> 
    </div>

        <div class ="form-group">
        <label asp-for="Latitude"></label>
        <input asp-for="Latitude" class="form-control" readonly />
        <span asp-validation-for="Latitude" class="text-danger"></span>

    </div>
    <div class ="form-group">
        <label asp-for="Longitude"></label>
        <input asp-for="Longitude" class="form-control" readonly/>
        <span asp-validation-for="Longitude" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" readonly/>
        <span asp-validation-for="UserName" class="text-danger"></span> 
    </div>

    <!--knapp for update-->
    <button type="submit" class="btn btn-primary">Save changes</button>
    <a asp-action="Table" class="btn btn-secondary">Cancel</a>

</form>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var lat = sessionStorage.getItem('Lat');
    var long = sessionStorage.getItem('Long');

    if(lat && long){

        document.querySelector("input[name='Latitude']").value = lat;
        document.querySelector("input[name='Longitude']").value = long;
    } else {
        var lat_n = 0;
        var long_n = 0;
        document.querySelector("input[name='Latitude']").value = lat;
        document.querySelector("input[name='Longitude']").value = long;
    }
});
</script>