.img-header {
    max-width: 100%;
    height: 120px;
    float: left;
    margin-top: 50px;
  }
  .header{
    background-color: #f7a17d;
  }
  body {
    display:flex;
    flex-direction: column;
    min-height:100vh;
  }
  .footer{
    background-color:#f7a17d;
    height: 50px;
    margin-top:auto;
  }
  .contentwindow{
    height:750px;
    overflow:scroll;
    overflow-x:hidden;
    /*border: 3px solid #feac93;*/
    background-color: #ffdecf;
    padding-top: 15px;
  }
  .contentwindow2{
    height:750px;
    overflow:scroll;
    overflow-x:hidden;
    /*border: 3px solid #69dd82;*/
    background-color: #c5e5b6;
    padding-top: 15px;
  }
  .contentwindow3{
    height:750px;
    overflow:scroll;
    overflow-x:hidden;
    /*border: 3px solid #69dd82;*/
    background-color: #a6d5e2;
    padding-top: 15px;
  }
  
  /*style for feed button*/
  .feedButton {
    background-color:#ffddd3; 
    border-color:#ffddd3;  
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none !important;
    font-weight: bold;
    color: #543617;
  }
  .feedButton:hover
  {
    color: #ffffff;
    background-color:#f5ac8a; 
  }
  .feedButton:focus,
  .feedButton:active {
      color: #543617;
      background-color:#ffdecf; 
      border-color:#ffdecf;  
      outline: none;
      box-shadow: none !important;
      
  }

  /*style for my pins button*/
  .mypinsButton {
    background-color: #c5e5b6; 
     border-color:#c5e5b6; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none !important;
    font-weight: bold;
    color: #1f3019;
  }
  .mypinsButton:hover{
    color: #ffffff;
    background-color: #719e5d; 
  }
  .mypinsButton:focus,
  .mypinsButton:active {
      color: #1f3019;
      background-color: #c5e5b6; 
      border-color:#c5e5b6;  
      outline: none;
      box-shadow: none !important;
  }
   /*style for my pins button*/
   .favsButton {
    background-color: #a6d5e2; 
     border-color:#a6d5e2; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none !important;
    font-weight: bold;
    color: #29324e;
  }
  .favsButton:hover{
    color: #ffffff;
    background-color: #519cb3; 
  }
  .favsButton:focus,
  .favsButton:active {
      background-color: #a6d5e2; 
      border-color:#a6d5e2;  
      outline: none;
      box-shadow: none !important;
      color: #29324e;
  }

  /*style for add a pin button*/
  .addpinButton {
    background-color: #334e29; 
     border-color:#334e29; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none !important;
    font-weight: bold;
    color: #deffcb;
  }
  .addpinButton:hover,
  .addpinButton:focus,
  .addpinButton:active {
      background-color: #c5e5b6; 
      border-color:#c5e5b6;  
      outline: none;
      box-shadow: none !important;
  }
  

 /*link styles*/
  a{
      color: #233d1d;
      font-weight: bold;
  }
  a:hover{
    color: #619b54;
  }


  .removeBorderFeed{
    border: none !important;
    background-color: #ffdecf;

  }
  .active {
    background-color: #fffaf8 !important;
  }