.img-header {
    max-width: 100%;
    height: 150px;
    float: left;
    margin-top: 50px;
  }
  .header{
    background-color: #feac93;
  }
  body {
    display:flex;
    flex-direction: column;
    min-height:100vh;
  }
  .footer{
    background-color:#feac93;
    height: 50px;
    margin-top:auto;
  }
  .contentwindow{
    height:600px;
    overflow:scroll;
    overflow-x:hidden;
    border: 3px solid #feac93;
    background-color: #ffe7e0;
    padding-top: 15px;
  }

  .feedButton {
    background-color:#feac93; /* replace with your color */
    border-color:#feac93; /* replace with your color */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .feedbutton:hover,
  .feedbutton:focus,
  .feedbutton:active {
      background-color:#f9815c; /* replace with a darker version of your color */
      border-color:rgb(255, 255, 255); /* replace with a darker version of your color */
      outline: none;
  }
  .mypinsbutton {
    background-color: #69dd82; /* replace with your color */
    border-color:#69dd82; /* replace with your color */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .mypinsbutton:hover,
  .mypinsbutton:focus,
  .mypinsbutton:active {
      background-color:#6feb8a; /* replace with a darker version of your color */
      border-color:white; /* replace with a darker version of your color */
      outline: none;
  }
  
  .active-card {
    border: 2px solid #f9815c;
    background-color: white !important; /* replace #yourcolor with your preferred color */
}