.img-header {
    max-width: 100%;
    height: 150px;
    float: left;
    margin-top: 50px;
  }
  .header{
    background-color: #f6986f;
  }
  body {
    display:flex;
    flex-direction: column;
    min-height:100vh;
  }
  .footer{
    background-color:#f6986f;
    height: 50px;
    margin-top:auto;
  }
  .contentwindow{
    height:600px;
    overflow:scroll;
    overflow-x:hidden;
    /*border: 3px solid #feac93;*/
    background-color: #444342;
    padding-top: 15px;
  }
  .contentwindow2{
    height:600px;
    overflow:scroll;
    overflow-x:hidden;
    /*border: 3px solid #69dd82;*/
    background-color: #c5e5b6;
    padding-top: 15px;
  }
  
  
  .feedButton {
    background-color:#ffddd3; 
    border-color:#ffddd3;  
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none !important;
    font-weight: bold;
    color: #ffffff;
  }
  .feedButton:hover,
  .feedButton:focus,
  .feedButton:active {
      background-color:#444342; 
      border-color:#444342;  
      outline: none;
      box-shadow: none !important;
  }
  .mypinsButton {
    background-color: #deffcb; 
     border-color:#deffcb; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none !important;
    font-weight: bold;
    color: #334e29;

  }

  .mypinsButton:hover,
  .mypinsButton:focus,
  .mypinsButton:active {
      background-color: #c5e5b6; 
      border-color:#c5e5b6;  
      outline: none;
      box-shadow: none !important;
  }
  a{
      color: #77cc64;
  }
  a:hover{
    color: #b7ffa6;
  }
  .active-card {
    border: 2px solid #f9815c;
    background-color: white ; /* replace #yourcolor with your preferred color */
  }

  .card{
    background-color: #444342;
    border: none !important;
    color:white;
  }