@model PinThePlace.ViewModels.FavoritesViewModel

<h1>My Favorites</h1>

<table>
    <tr>
        <th>Pin ID</th>
        <th>MadeBy</th>
        <th>Category</th>
        <th><!-- Space for update and delete buttons if we want that in the table --></th>
    </tr>
    @foreach (var favorite in Model.Favorites)
    {
        <tr>
            <td>@favorite.PinId</td>
            <td>@favorite.MadeBy</td>
            <td>@favorite.Category</td>
            <td>
               
            </td>
        </tr>
    }
</table>