@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PinThePlace!</h1>
    <p>To use this application you have to register or login!</p>
    <p>If you want to just see the feed you can click this button!</p>

    <a asp-controller="Pin" asp-action="Table" class="btn btn-secondary">To Feed!</a>


</div>
 <!--annen index kode: --using Microsoft.AspNetCore.Mvc;
using PinThePlace.ViewModels;
using PinThePlace.Models; // Assuming your DbContext is in this namespace
using System.Linq;if you want to just see the feed you can click this button!

namespace PinThePlace.Controllers 
{
    public class HomeController : Controller
    {
        private readonly PinDbContext _context; // Define _context

        // Inject PinDbContext into the constructor
        public HomeController(PinDbContext context)
        {
            _context = context;
        }

        public IActionResult Index()
        {
            var pins = _context.Pins.ToList();
            var viewModel = new PinsViewModel {Pins = pins, CurrentViewName = "Home"};
            return View(viewModel);
        }
    }
} -->